.newTodoForm{
    font-size: large;
    font-weight: bold;
    margin: 1%;
    padding: 2%;
}
button{
    padding:1%;
    font-size: 17px;
    font-weight: bold;
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
}

input[type="text"]{
    border-radius: 5px;
    padding:10px;
    margin: 1%;
}